cli-helpers==2.2.0
click==8.0.3
configobj==5.0.6
cycler==0.11.0
greenlet==1.1.2
ipython-sql==0.4.0
kiwisolver==1.3.2
matplotlib==3.4.3
numpy==1.21.4
pandas==1.3.4
pendulum==2.1.2
pgcli==3.2.0
pgspecial==1.13.0
Pillow==8.4.0
prettytable==0.7.2
psycopg2==2.9.2
pytzdata==2020.1
scipy==1.7.2
seaborn==0.11.2
setproctitle==1.2.2
SQLAlchemy==1.4.27
tabulate==0.8.9